@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');



@import 'partials/_variables.scss';


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*  ************* HEADER ****************** */

.logo {
  width: 70px;
  margin: 15px 0 0px 15px;
}

.login {
  position: absolute;
  top: 30px;
  right: 15px;
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: $font-family;
    color: #888;
  }
  span img {
    width: 30px;
    vertical-align: middle;
  }
}

.links {
  line-height: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
  li {
    font-size: 1.2em;
    list-style: none;
  }
  a {
    display: block;
    color: rgb(24, 2, 173);
    text-decoration: none;
    font-family: $font-family;
    font-size: 1em;
    font-weight: 800;
    &:hover {
      background-color: rgb(229, 229, 250);
      transition: 0.3s ease-in-out;
    }
  }
}

/*  ************* END HEADER ****************** */

/*  ************* SLIDER ****************** */

.trigger {
  display: none;
}

.slider, .slider-wrapper {
  width: 100%;
  position: relative;
  height: 300px;
}

.slide {
  background-color: black;
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.slide-img {
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.slide-figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.slide-caption {
  position: absolute;
  top: 5px;
  margin-left: 25px;
  width: 70%;
  color: white;
  text-align: left;
  h1 {
    font-size: 2em;
    font-family: $font-family;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.3em;
    font-family: $font-family;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
    sup {
      font-size: .6em;
      vertical-align: top;
      line-height: 20px;
    }
  }
  a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: $font-family;
    font-weight: 800;
    width: 140px;
    color: #fff;
    background-color: rgb(24, 2, 173);
    padding: 9px 20px;
    &:hover {
      background-color: rgb(229, 229, 250);
      color: rgb(24, 2, 173);
      transition: .3s ease-in-out;
    }
  }
}

.trigger:checked + .slide {
  z-index: 20;
  opacity: 1;
}

.slider-nav {
  position: relative;
  bottom: 50px;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  z-index: 20;
}

.slider-nav__item {
  display: inline-block;
}

.slider-nav__label {
  font-size: 13px;
  background-color: rgb(226, 221, 221);
  display: block;
  margin: 0 2px;
  height: 1.2em;
  line-height: 1.2em;
  width: 1.2em;
  text-align: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s ease-in-out;
  &:hover, &:active, &:focus {
    background-color: rgb(97, 97, 97);
    color: black;
  }
}

.active {
  background-color: rgb(97, 97, 97);
}

/*  ************* SLIDER END ****************** */

/*  ************* DESCRIPTIONS ****************** */

.first {
  width: 100%;
  text-align: center;
  font-family: $font-family;
  h1 {
    text-transform: uppercase;
    font-size: 1em;
    color: #888;
  }
  h2 {
    font-size: 2.5em;
    line-height: 1.1em;
    font-weight: 900;
    color: rgb(24, 2, 173);
    margin: 15px 0 15px 0;
  }
}

.description-wrapper {
  width: 100%;
  padding: 20px;
}

.description-item {
  margin: 0 0 40px 0;
}

.d-text {
  margin: 0;
  font-family: $font-family;
  color: rgb(24, 2, 173);
  img {
    float: left;
    margin: 0 20px 80px 0;
    padding: 10px;
  }
  span {
    font-family: $font-family;
    font-size: 1.6em;
  }
}

/*  ************* DESCRIPTIONS END ****************** */

/*  ************* BOOKING ****************** */

.destinations {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(24, 2, 173);
  h1 {
    text-align: center;
    margin: 30px auto;
    font-family: $font-family;
    font-weight: 100;
    color: #fff;
  }
  img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
  }
  figcaption {
    height: 180px;
    background-color: #fff;
    padding: 20px;
    a {
      text-decoration: none;
      font-size: 1.6em;
      font-family: $font-family;
      color: rgb(24, 2, 173);
    }
  }
  strong {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
  }
}

/*  ************* BOOKING END ****************** */

.second {
  padding: 0px 40px;
  text-align: center;
  color: rgb(24, 2, 173);
  h1 {
    margin: 15px 0;
    font-family: $font-family;
  }
}

h2 {
  margin: 15px 0;
  font-family: $font-family;
}

.second {
  h1 {
    font-size: 1.4em;
    font-weight: 100;
  }
  h2 {
    font-size: 1.4em;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgb(24, 2, 173);
    cursor: pointer;
  }
}

/*  ************* PACKAGES ****************** */

.packages {
  display: flex;
  flex-wrap: wrap;
  font-family: $font-family;
  background-color: rgb(13, 1, 105);
  h2 {
    text-align: center;
    margin: 30px auto;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
  }
  h1 {
    text-align: center;
    margin: 15px auto;
    line-height: 1em;
    font-size: 2em;
    font-weight: 800;
    color: rgb(0, 183, 255);
  }
  p {
    text-align: center;
    margin: 0 30px;
    font-size: 1em;
    font-weight: 100;
    color: #fff;
  }
  h3 {
    text-align: center;
    margin: 30px auto;
    font-size: 1.2em;
    font-weight: 100;
    color: rgb(0, 183, 255);
    border-bottom: 2px dashed rgb(0, 183, 255);
    cursor: pointer;
  }
  figure {
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
  }
  img {
    border: none;
    border-radius: 50%;
    margin: 30px auto 10px auto;
    max-width: 50%;
    height: auto;
    display: block;
  }
  figcaption {
    height: 60px;
    background-color: #fff;
    padding: 20px;
    color: rgb(24, 2, 173);
    h1 {
      text-decoration: none;
      font-size: 1.6em;
      font-family: $font-family;
      color: rgb(24, 2, 173);
    }
  }
  li {
    line-height: 40px;
    font-size: 1.1em;
    font-family: $font-family;
    color: rgb(24, 2, 173);
    list-style: none;
    span {
      font-family: $font-family;
      font-size: 1.7em;
      font-weight: 800;
      margin-right: 10px;
    }
    &:nth-child(n+4) {
      color: rgb(214, 214, 214);
    }
  }
}

/*  ************* PACKAGES END ****************** */

/*  ************* SUBSCRIBE AND FOOTER ****************** */

.third {
  width: 100%;
  padding: 30px;
  background-color: rgb(24, 2, 173);
  h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.1em;
    font-family: $font-family;
    font-weight: 100;
    color: #fff;
  }
  input {
    display: block;
  }
}

a {
  display: block;
}

.third {
  input {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    font-family: $font-family;
    background-color: rgb(24, 2, 173);
    border: none;
    border-bottom: 2px solid #fff;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgb(0, 183, 255);
      font-size: 1.2em;
    }
  }
  a {
    text-align: center;
    width: 90%;
    background-color: #fff;
    color: rgb(24, 2, 173);
    margin: 20px auto;
    padding: 15px 10px;
    font-family: $font-family;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      background-color: #888;
      color: #fff;
    }
  }
}

.fourth {
  width: 100%;
  padding: 30px;
  h1 {
    text-align: center;
    font-family: $font-family;
    font-size: 1.3em;
    color: rgb(24, 2, 173);
  }
}

.social {
  text-align: center;
  img {
    max-width: 25%;
    padding: 20px;
  }
}

.sponsors {
  text-align: center;
  img {
    max-width: 20%;
    padding: 0 10px;
  }
  a {
    display: inline-block;
    padding: 20px;
    font-family: $font-family;
    font-size: 0.9em;
    text-decoration: none;
    color: #999999;
  }
}

/*  ************* SUBSCRIBE AND FOOTER END ****************** */

@import 'partials/_mediaQueries.scss';